.header{
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #F2F2F2;
  overflow-x: hidden;
}

.logo_place_header{
  position: absolute;
  width: 154px;
  height: 31px;
  top: 30px;
  left:64px;
  z-index: 2;
}
