

.two-coulumns{
  margin: 100px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief{
  margin: 0;
  width: 175px;
  align-self:flex-start;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text{
  margin-top: 0;
  padding-top: 0;
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph{
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child{
  margin-bottom: 0;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}













.section-title_theme_dark{
  margin-top: 90px;
  margin-bottom: 20px;
  color: #F2F2F2;
  z-index: 1;
}

.section-subtitle_theme_dark{
  margin-bottom: 0px;
  color: #F2F2F2;
  z-index: 1;
}

.table_theme_dark{
  margin-bottom: 90px;
  padding-top: 80px;
  row-gap: 80px;
}

.table__cell_theme_dark{
  color: #F2F2F2;
  width: 200px;
  z-index: 1;
}


.kaufman__triangle{
  position: absolute;
  right: -124px;
  top: 0px;
  width: 660px;
  height: 636px;
  z-index: -1;
}

.footer{
  background-color: #1F1F1F;
  color: #F2F2F2;
  min-height: 350px;
  margin: auto;
}

.footer__columns{
  min-height: 250px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 90%;
  display: flex;
  justify-content:space-between;
}


.logo_place_footer{
  width: 183px;
  height: 35px;
}

.footer__author{
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #F2F2F2;
}

.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  align-items:baseline;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column-heading{
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #F2F2F2;
}

.footer__column-links{
  margin: auto auto 20px;
  padding-left: 0px;
  list-style: none;
}

.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #F2F2F2;
}
