.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
}

.header{
position: relative;
height: 100vh;
min-height: 600px;
max-height: 756px;
display: flex;
background-color: #F2F2F2
}

.logo_place_header{
position: absolute;
width: 151px;
height: 31px;
top: 30px;
left:64px;
z-index: 2;
}

.header__title{
margin-left: 64px;
width: 730px;
align-self: center;
line-height: 96px;
font-size: 102px;
font-weight: bold
}

.header__subtitle{
position: absolute;
width: 388px;
left: 64px;
bottom: 30px;
line-height: 25px;
font-size: 18px;
font-weight: normal;
z-index: 2;
}

.header__main-ilustration{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 756px;
  height: 608px;
  z-index: 2;
}

.header__squre-pic{
  background-color: #2F80ED;
  position: absolute;
  right: 0px;
  top: 64px;
  width: 568px;
  height: 568px;
  z-index: 1;
}

.description{
  margin: 100px auto;
}

.two-coulumns{
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brif{
  margin-top: 0px;
  width: 175px;
  align-self:flex-start;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text{
  margin-top: 0px;
  padding-top: 0px;
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph{
  margin-top: 0px;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits{
  margin: auto 100px 100px;
}

.section-title{
  margin: auto;
  width: 60%;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle{
  margin: 20px auto 60px;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table{
  margin: auto;
  padding: 0px;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  row-gap: 60px;
}

.table__cell{
  margin: 0px;
  width: 250px;
}

.table__heading{
  margin-top: 0px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text{
  margin-bottom: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  position: relative;;
  height: 790px;
}

.feynman__title{
  margin: 100px auto;
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 1;
}

.feynman__image{
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1
}

.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
}

.kaufman{
  margin: auto;
  position: relative;
  background-color: black;
  color: #F2F2F2;
  overflow: hidden;
}
.section-subtitle_theme_dark{
  margin-bottom: 0px;
}

.table_theme_dark{
  margin-bottom: 90px;
}
.table__cell_theme_dark{
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle{
  position: absolute;
  right: -124px;
  top: 0px;
  width: 660px;
  height: 636px;
  z-index: 0;
}

.footer{
  background-color: black;
  color: #F2F2F2;
  min-height: 350px;
  margin: auto
}

.footer__columns{
  margin: auto;
  width: 90%;
  height: 250px;
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer{
  width: 138px;
  height: 35px;
}

.footer__author{
  margin: 18px 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 550px;
}

.footer__column-heading{
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links{
  padding-left: 0px;
  list-style: none;
}

.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
